NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id
NEXT_PUBLIC_PRIVY_CLIENT_ID=your-app-client-id
ALCHEMY_API_KEY=your-alchemy-api-key
DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_GIFT_CLAIMER=
NEXT_PUBLIC_USERNAME_REGISTRAR=
NEXT_PUBLIC_ENS_PARENT=gift.eth
NEXT_PUBLIC_PREVIOUS_USERNAME_REGISTRARS=
